{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
  <p class="larger">Welcome! {{ user.displayname }}. </p>
    {{ content }}
    <p><a class="button" href="/node/add/session">Submit a session</a> &nbsp; <a class="button" href="{{ path('entity.user.canonical', {'user': user.id}, {}) }}/edit/profile">Update profile</a></p>

  {% endblock %}
</div>
