{#
/**
 * @file session.html.twig
 * Default theme implementation to present Session data.
 *
 * This template is used when viewing Session pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_session()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('session') }}>
  {% if content.name and not page %}
    {{ content.field_tags }}
    <h4{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ content.name }}</a>
    </h4>
    {{ content.user_id }}
  {% endif %}


  {% if content and page %}
    {{- content -}}
  {% endif %}
</div>
