<div class="speaker">
  <div class="col">
    <img src="{{ photo }}"/>
  </div>
  <div class="col">
    <h4 class="speaker__name">
      {{ speaker }}</h4>
    <p class="speaker__title">
      {{ jobTitle }}</p>
    <p class="speaker__company">
      {{ company }}</p>
    <div class="bio">
    {{ bio }}
    <p><a href="{{ link }}" />{{ link }}</a></p>
    </div>
    {% if social %}
      {% include "@components/social/social-links.twig" %}
    {% endif %}
  </div>
</div>
