<li>
  <span class="sg-swatch" style="background-color: {{  color_swatch.palette }};"></span>
  <span class="sg-label" style="color: {{  color_swatch.palette }};">
    {{ color_swatch.colorName }} <br />
    {{ color_swatch.palette }} <br />
    <code>{{ color.hex }}</code><br />
    <code>{{ color.hsl }}</code><br />
    <code>{{ color.rgb }}</code>
  </span>
</li>
