{#
/**
 * @file session.html.twig
 * Default theme implementation to present Session data.
 *
 * This template is used when viewing Session pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_session()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('session') }}>
  {% if label and not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}

  <div class="session--tags">
    {% for tag in session_tags %}
      <div>
        <a class="session-tag" tag="{{ tag.label()|clean_class }}">{{ tag.label() }}</a>
      </div>
    {% endfor %}
  </div>
</div>
